# Virtual environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Large files / Model checkpoints
*.pt
*.pth
*.ckpt
best_ckpt.pt


# OS specific files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
